body {
    width: 100;
    min-height: 100;
    overflow-x: hidden;
}
#container {
    display: grid;
    grid-template-columns: repeat(16, 50px);
    background-color: white;
    border: none;
    position: relative;
    top: 200px;
    left: 850px;
}

div {
    text-align: center;
    display: inline-block;
    height: 50px;
    border: 1px solid black;
}

