body {
    width: 100vw;
    min-height: 100vh;
    overflow-x: hidden;
}

#buttons {
    position: relative;
    left: 1120px;
    top: 180px;
    border: none;
}

button {
    font-size: 16px;
    padding: 15px 5px;
    width: 100px;
    height: 50px;
    color: white;
    border: none;
    background-color: black;
    border: none;
    border: none;
}

#container {
    align-items: center;
    margin: auto;
    display: grid;
    background-color: white;
    border: none;
    position: relative;
    top: 200px;
    width: 800px;
    height: 800px;
    justify-content: center;
}

div {
    text-align: center;
    display: inline-block;
    height: 50px;
    border: 1px solid black;
}
